<!--
  Generated template for the ListingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="cart"></ion-icon> Listings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="block">
  <ion-grid>
    <div *ngFor="let l of fishData; let i = index"  >
    <ion-row class="list_banner" align-items-center>
      <ion-col col-3>
        <img src={{l.img}} alt="">
      </ion-col>
      <ion-col col-6>
        <p>{{l.name}}</p>
        <p>Quantity: {{l.weight}}lbs.</p>
        <p>Price: ${{l.price}}/lb</p>
        <p><ion-icon name="pin"></ion-icon>&nbsp; {{l.port}}, {{l.location}}</p>
      </ion-col>
      <ion-col col-3>
        <p *ngIf="!l.sold"><button ion-button block outline color="light" (click)="sell(i)">Buy</button></p>
        <p *ngIf="l.sold"><button ion-button block outline color="light" disabled>Pending</button></p>
        <p><button ion-button block outline color="light">Offer</button></p>
      </ion-col>
    </ion-row>
    </div>
  </ion-grid>
</ion-content>